<div class="heading">
    <h2>Your list of favorite countries</h2>
</div>
<div class="table" style="left: 25%">
    <table style="width: 120%">
        <caption>Ranking based on Gold Medals</caption>
        <tr>
            <th>Flag</th>
            <th>Country</th>
            <th>Gold</th>
        </tr><br>
        <tr *ngFor="let item of dataRow" class="spaceUnder">
            <td><img [src]="item.flag"></td>
            <td>{{item.name}}</td>
            <td>{{item.medals.gold}}</td>
            <td>
                <button type="submit" name="button" (click)=onDelFav(item) class="btn btn-danger">Remove <i
                        class="fa fa-angle-right"></i></button>
            </td>
        </tr>
    </table><br>
</div>
<div class="table" style="left: 25%">
    <table style="width: 120%">
        <caption>Ranking based on Total Medals</caption>
        <tr>
            <th>Flag</th>
            <th>Country</th>
            <th>Total</th>
        </tr><br>
        <tr *ngFor="let item of dataRow" class="spaceUnder">
            <td><img [src]="item.flag"></td>
            <td>{{item.name}}</td>
            <td>{{item.medals.total}}</td>
            <td>
                <button type="submit" name="button" (click)=onDelFav(item) class="btn btn-danger" id="bt">Remove <i
                        class="fa fa-angle-right"></i></button>
            </td>
        </tr>
    </table>
</div>